%h1.title Listing certificates

%table.table.is-striped
  %thead
    %tr
      %th Serial
      %th Applicant
      %th Issuance date
      %th

  %tbody
    - presenter.certificates.each do |certificate|
      %tr
        %td= certificate.serial
        %td= certificate.name
        %td= certificate.date
        %td= certificate.revoke_button

%br
