%h1 Listing certificates

%table
  %thead
    %tr
      %th Cert
      %th Serial
      %th
      %th
      %th

  %tbody
    - presenter.certificates.each do |certificate|
      %tr
        %td= certificate.serial
        %td= certificate.name
        %td= certificate.date
        %td= certificate.status

%br
