@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:700';
@import "font-awesome";
@import "variables";
@import "bulma";
@import "header";

main.container {
  margin-top: 2.25rem;
}

.button.is-tomato {
  background-color: $tomato;
  border-color: transparent;
  color: $white;
}

#notifications {
  margin: auto 3rem;
  margin-top: 2.25rem;
}

